<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %green([%thread]) %highlight(%level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="Server" level="DEBUG"/>
    <logger name="actors.DBActor" level="DEBUG"/>
    <logger name="com.ning" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
</configuration>