.SearchBox {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 40px;
  margin: 10px auto;
  width: 482px;
}

.SearchBox:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.SearchBox > div {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.SearchIcon {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin: -2px auto 0;
}

.SearchIcon > span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: -5px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

svg:not(:root) {
  overflow: hidden;
}

.SearchIcon > span svg {
  display: block;
  height: 100%;
  width: 100%;
}

.InputBox {
  flex-wrap: wrap;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  padding: 0;
  word-wrap: break-word;
  outline: none;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  line-height: 32px;
  background-size: 20px 20px;
  height: 20px;
  width: 27px;
  margin-top: 0;
  color: transparent;
  flex: 100%;
  white-space: pre;
}

.InputBox > div {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
}

.InputBox > input {
  background-color: transparent;
  border: none;
  margin-top: -35px;
  margin-right: 10px;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
}

.minidiv {
  line-height: 32px;
  background-size: 20px 20px;
  height: 20px;
  width: 27px;
  margin-top: 0;
}
