.Block {
  width: 600px;
  font-family: Arial, sans-serif;
  text-align: left;
  white-space: normal;
  margin: 0 0 30px 0;
}

.Link {
  font-size: 14px;
  color: #202124;
  margin: 8px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Title {
  font-size: 20px;
  color: #1a0dab;
  margin: 8px 0;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Text {
  color: #4d5156;
  font-size: 14px;
  margin: 8px 0;
  width: 600px;
}

.SearchResultsBox {
  margin: 0 170px;
}
